// @use "@material/theme"with ($primary: #3d2622,
//     $secondary: #33691e,
//     $background: #694e4a,
// );
// $primary-color: #3a4500;
$primary-color: #3a4500;
// $primary-color: #79840d;

$secondary-color: #ffc107;
$background-color: #E1E2E1;
// $background-color: #989e3c;

$card-color: #fff;
@use "@material/theme"with ($primary: $primary-color,
    $secondary: $secondary-color,
    $background: $background-color,
);
@use "material-components-web";
// @import "material-components-web";


html,
body,
main {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    background-color: $background-color;
}

#top-app-bar-padding {
    height: 64px;
}

#page {
    box-sizing: border-box;
}

#page>div {
    padding: 8px;
    overflow: auto;
    height: 100%;
}

#countingPage {
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#countingPage>.mdc-card,
#history>.mdc-card {
    padding: 4px;
    width: 100%;
    flex: 0 0 auto;
}

#countingPage>.mdc-card>* {
    margin: 4px;
}

.mdc-card {
    background-color: $card-color;
}

.personCounterRow {
    display: flex;
    flex-direction: row;
}

.personCounter {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 8px; */
    margin-bottom: 8px;
    max-width: 480px;
}

.personDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.personDetails>* {
    text-align: center;
}

.avatar {
    font-size: 32px;
}


.counterFab,
.zeroFab {
    width: 32px;
    height: 32px;
}

.zeroFab {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
}


.fabDeselected {
    background-color: #000;
}

.grid {
    display: grid;
    gap: 8px;
    justify-items: end;
    align-items: center;

    grid-template-columns: auto auto auto auto auto;
}

/* .arrowFab4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
} */

/* .arrowFab3 {
    grid-column-start: 4;
    grid-row-start: 1;
} */

.totalPoints,
.averagePoints {
    font-weight: bold;
}

.newPoints {
    font-size: 24px;
    flex: 1 0 auto;
    text-align: center;
}

#title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#targetNameGroup {
    display: flex;
    flex-direction: row;
}

.targetNavigationButton {
    line-height: inherit;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

#previousTarget {
    visibility: hidden;
}

.blueprint {
    display: none !important;
}

.mdc-drawer,
.mdc-drawer-scrim {
    display: flex;
}

.mdc-list-item--activated {
    color: var(--mdc-theme-primary, #6200ee) !important;
}

.mdc-drawer .mdc-list-item {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    height: 40px;
    margin: 8px;
    padding: 0 8px;
    align-items: center;
}

.mdc-list-item__graphic {
    margin-right: 32px;
}

.page {
    display: none;
}

.roundName {
    font-weight: bold;
}

.roundTotalPoints {
    font-weight: bold;
}

.roundTotalTargets,
.roundTotalTime {
    font-style: italic;
}

.roundGrid {
    display: grid;
    justify-items: left;
    gap: 4px 8px;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto auto;
}

.roundGrid>.avatar {
    font-size: 24px;
}

.roundOverview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
    max-width: 480px;
}

.editRoundButton {
    align-self: flex-start;
}

#history {
    flex-direction: column;
    align-items: center;
}

#addRound {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1;
}

.mdc-text-field__affix {
    opacity: 1;
}

// #newRoundDialog {
//     z-index: 2000;
// }
.mdc-dialog {
    z-index: 2000;
}


#newRoundDialogContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#newRoundDialogContent>label {
    margin-bottom: 12px;
}

#newRoundDialogContent .mdc-text-field {
    width: 100%;
}

#newRoundDialogButtons {
    margin-top: 4px;
    align-self: flex-end;
}

#saveCurrentRound {
    display: none;
    position: fixed;
    bottom: 16px;
}

#saveCurrentRoundSpaceBehind {
    display: none;
    height: 103px;
    min-height: 103px;
    flex: 0 0 auto;
}

#errorBar {
    color: #fff;
    background-color: #f00;
    align-self: stretch;
    text-align: center;
    font-family: Roboto, sans-serif;
    padding: 4px;
    margin: 0px !important;
    height: auto !important;
    // margin-bottom: 4px;
    // order: -1;


    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    display: none;
}


.disabled {
    opacity: 0.2 !important;
    pointer-events: none;
}

.fabDeselected>.mdc-fab__icon {
    color: #fff !important;
}

.fabDeselected {
    background-color: #000 !important;
    // border-style: solid !important;
    // border-width: 1px !important;
    // border-color: black;
}

.mdc-menu {
    top: 4px;
    white-space: nowrap;
}

.mdc-list-item {
    height: 48px;
    align-items: center;
}

.displayNone {
    display: none;
}

#focusTrap {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    display: none;
    z-index: 3;

    background-color: #f00;
    opacity: 0.2;
}

#importHistoryDialogContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.dialogButtons {
    align-self: flex-end;
    margin-top: 4px;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#importHistoryLabel {
    margin-bottom: 12px;
}

#deletionFailsafeLabel {
    margin-bottom: 16px;
    margin-top: 4px;
}